.headerSection {
  position: relative;
  background-color: black;
  color: gray;
  font-weight: bold;
  font-size: 20px;
  height: 35px;
  padding: 5px;

  &:hover {
    color: white;
  }
}

.filterForm {
  position: absolute;
  top: 5px;
  right: 5px;
}
