{
  "extends": "eslint-config-airbnb", // https://github.com/airbnb/javascript/blob/master/packages/eslint-config-airbnb/.eslintrc
  "rules":  {
    "max-len": [2, 117, 2],          // Max length where things generally fit in a github code view width
    "comma-dangle": [2, "never"],    // There's good reason to enforce comma dangling, but it throws people off.
    "strict": [2, "function"],       // For now, we're not using modules, so strict has to be applied to a self executing function
    "no-extra-strict": 0,            // Disabling legacy rule. Above rule overwrites it.
    "func-names": 0,                 // Most functions are named automatically in ES6.
    "no-console": 2,                 // the following rules are warnings in AirBNB. We make them errors.
    "no-undef": 2,
    "no-debugger": 2,
    "no-alert": 2,
    "space-in-parens": [2, "never"],  // Enforce lack of spaces inside parens entirely for style reasons
    "object-curly-spacing": [2, "never"], // Enforce spaces inside curleys entirely for style reasons
    "arrow-spacing": 2,              // Enforce spaces around arrow functions entirely for style reasons
    "no-constant-condition": 2,
    "eqeqeq": [2, "allow-null"],
    "no-eq-null": 0,
    "no-undef": 2,
    "strict": 0,
    "react/jsx-curly-spacing": [2, "never"],
    "jsx-quotes": [2, "prefer-single"],
    "no-unused-expressions": 0,
    "indent": [2, 2, {"SwitchCase": 0}]
  },
  "ecmaFeatures": {
    "modules": true,
    "generators": true,
    "experimentalObjectRestSpread": true
  },
  "globals": {
    "chai": true,
    "expect": true,
    "sinon": true
  },
  "env": {
    "mocha": true,
    "worker": true,
    "jquery": true,
    "node": true,
    "commonjs": true
  }
}
